################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Emenu.Api
/Emenu.Core
/Emenu.DAL
